@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: #E5E5E5;
    width: 100%;
    position: relative;
}

.topo{
    background-color: #CF2B2B;
    height: 92px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.conteudo{
    margin-top: 123px;
    margin-bottom: 108px;
    margin-left: 19px;
    position: relative;
}
h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
    line-height: 54.63px;
    letter-spacing: -0.012em;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 21px;
}

.slogan{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 21px;
}
h2{
    font-family: 'Righteous', cursive;
    font-size: 26px;
    line-height: 32.28px;
    letter-spacing: 0.018em;
    font-weight: 400;
    color: #333333;
    margin-bottom: 17px;
}
.pratos, .bebidas, .sobremesas{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    margin-bottom: 27px;
}
.height216{
    height: 216px;
}
.height202{
    height: 202px;
}
.height197{
    height: 197px;
}
::-webkit-scrollbar{
    display: none;
}
img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin-bottom: 8px;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18.75px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 10px;
}
.descricao{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 17.58px;
    font-weight: 300;
    color: #A6A6A6;
    margin-bottom: 10px;
}
.preco{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18.75px;
    font-weight: 400;
    color: #000000;
}
.umprato, .umabebida, .umasobremesa{
    background-color: #FFFFFF;
    width: 172px;
    border-radius: 9px;
    filter:drop-shadow(0 0 0 -4px #000000);
    flex-shrink: 0;
    margin-right: 16px;
    position: relative;
}

.finalizar{
    width: 100%;
    height: 92px;
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}
button{
    width: 87.9227%;
    height: 61px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.44px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    text-align: center;
    background-color: #CBCBCB;
    border-radius: 50px;
    border: 0;
}
.botaofechar{
    background-color: #32B72F;
}
.selecionado{
    box-shadow: 0 0 10px -4px rgba(0,0,0,0.25), inset 0px 0px 0px 5px #32B72F;
    border-radius: 9px;
}
.alinhar{
    margin-left: 14px;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
}
.icone{
    display: none;
}
ion-icon{
    z-index: 1000; 
    width: 19px;
    height: 19px;
    color: #32B72F;
    position: absolute;
    bottom: 14px;
    right: 14px;
}

.confirmar{
    width: 91.0628%;
    height: 353px;
    background-color: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    position: absolute;
    top: 336px;
    left: 19px;
    z-index: 21000;
    display: none;
}
.fundobranco{
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 110%;
    position: absolute;
    top: 0;
    z-index: 20000;
    display: none;
}
.confirme{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 35.78px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 23px;
}
.prato p, .bebida p, .sobremesa p{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 35.78px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0.018em;
    margin-bottom: 11px;
}
.preco p{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 0.018em;
    margin-bottom: 24px;
}
.prato, .bebida, .sobremesa, .preco{
    display: flex;
    justify-content: space-between;
}
.certo{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 35.78px;
    font-weight: 700;
    color: #50D074;
    background-color: #FFFFFF;
    width: 100%;
    height: 52px;
    border-radius: 100px;
    letter-spacing: 0.018em;
    text-align: center;
}
.cancelar{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 23.44px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #50D074;
    width: 100%;
    height: 52px;
    border-radius: 100px;
    letter-spacing: 0.018em;
    text-align: center;
}
.alinhar2{
    display: flex;
    flex-direction: column;
    width: 87.4396%;
    margin-top: 21px;
    margin: 0 auto;
}
.aparece{
    display: initial;
}
